# TITANIC DATASET ANALYSIS AND PREDICTION

# #FIXME
Features: AGE and NAME
Param Scaling - data preprocessing

---------

In [ ]:
import numpy as np
import pandas as pd
import pandas_profiling as pp
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [ ]:
train = pd.read_csv("../Data/Titanic/train.csv", index_col = "PassengerId")
test = pd.read_csv("../Data/Titanic/test.csv", index_col = "PassengerId")

train.columns = train.columns.str.lower()
test.columns = test.columns.str.lower()

--------

In [ ]:
test.head(5)

In [ ]:
train[['name', 'title']].tail(10)

In [ ]:
# pp.ProfileReport(train)

-------------

Variables:
1. Survived
2. Pclass
3. Name
4. Sex
5. Age
6. SibSp
7. Parch
8. Ticket
9. Fare
10. Cabin
11. Embarked

In [ ]:
# SURVIVED
plt.figure(figsize=(10,5))
sns.countplot(train.survived)

In [ ]:
# PCLASS
plt.figure(figsize=(10,5))
plt.subplot(1,2,1)
sns.countplot(train.pclass)
plt.subplot(1,2,2)
sns.barplot(x=train.pclass, y=train.age)

In [ ]:
# NAME
train_titles = [name.split(',')[1].split('.')[0].strip() for name in train.name]
train['title'] = pd.Series(train_titles)
set(train.title)
train.title.isnull()

In [ ]:
test_titles = [name.split(',')[1].split('.')[0].strip() for name in test.name]  
test['title'] = pd.Series(test_titles)
set(test.title)
test.name

In [ ]:
test.title

In [ ]:
plt.figure(figsize=(20,5))
plt.xticks(size=12)
plt.yticks(size=12)
plt.subplot(1,2,1)
sns.countplot(train.title)
plt.subplot(1,2,2)
# sns.countplot(test.title)

In [4]:
train = train.drop(['name'], axis=1)
test = test.drop(['name'], axis=1)

In [ ]:
train['title'] = train['title'].replace(['Miss', 'Mme', 'Ms', 'Lady', 'Mlle', 'the Countess'], 'Mrs')
train['title'] = train['title'].replace(['Master', 'Sir'], 'Mrs')
train['title'] = train['title'].replace(['Don', 'Rev', 'Dr', 'Major', 'Col', 'Capt', 'Jonkheer'], 'Other')

test['title'] = test['title'].replace(['Miss', 'Mme', 'Ms', 'Lady', 'Mlle', 'the Countess'], 'Mrs')
test['title'] = test['title'].replace(['Master', 'Sir'], 'Mr')
test['title'] = test['title'].replace(['Don', 'Rev', 'Dr', 'Major', 'Col', 'Capt', 'Jonkheer'], 'Other')

In [ ]:
plt.figure(figsize=(15,5))
sns.countplot(train.title)

In [ ]:
train['title'] = train['title'].map({"Mr":0, "Mrs":1, "Other":2})
test['title'] = test['title'].map({"Mr":0, "Mrs":1, "Other":2})

In [ ]:
# SEX
plt.figure(figsize=(10,5))
plt.subplot(1,2,1)
sns.countplot(train.sex)    
plt.subplot(1,2,2)
sns.countplot(x=train.sex, hue=train.survived)

In [5]:
train['sex'] = train['sex'].map({"male":0, "female":1})
test['sex'] = test['sex'].map({"male":0, "female":1})

In [ ]:
# AGE
train.age.isnull().sum()

In [6]:
train.age.fillna(train.age.median(), inplace=True)
test.age.fillna(test.age.median(), inplace=True)
train.age.isnull().sum()

0

In [ ]:
sns.distplot(train.age, kde=False, bins=8)

In [ ]:
# SIBSP and PARCH
plt.figure(figsize=(10,5))
plt.subplot(2,2,1)
sns.countplot(train.sibsp)
plt.subplot(2,2,2)
sns.countplot(train.sibsp,hue=train.survived)

plt.subplot(2,2,3)
sns.countplot(train.parch)
plt.subplot(2,2,4)
sns.countplot(train.parch, hue=train.survived)

In [7]:
# TICKET
ticket_type = []
for i in list(train.ticket):
    if not i.isdigit():
        ticket_type.append(i.split(' ')[0].replace("/","").replace(".","").strip())
    else:
        ticket_type.append("G")
train.ticket = ticket_type

ticket_type = []
for i in list(test.ticket):
    if not i.isdigit():
        ticket_type.append(i.split(' ')[0].replace("/","").replace(".","").strip())
    else:
        ticket_type.append("G")
test.ticket = ticket_type

In [ ]:
train.ticket.unique()

In [ ]:
test.ticket.unique()

In [ ]:
np.union1d(train.ticket, test.ticket)

In [8]:
train = pd.get_dummies(train, columns=["ticket"], prefix="T")
test = pd.get_dummies(test, columns=["ticket"], prefix="T")

In [ ]:
train.isnull().sum()

In [9]:
train = train.drop(['T_SP','T_SOP','T_Fa','T_LINE','T_SWPP','T_SCOW','T_PPP','T_AS','T_CASOTON'],axis = 1)
test = test.drop(['T_SCA3','T_STONOQ','T_AQ4','T_A','T_LP','T_AQ3'],axis = 1)

In [ ]:
# FARE
plt.figure(figsize=(10,5))
sns.distplot(train.fare)

In [10]:
test.fare.fillna(test.fare.median(), inplace=True)

In [ ]:
# EMBARKED
plt.figure(figsize=(16,5))
plt.subplot(1,2,1)
sns.countplot(train.embarked)
plt.subplot(1,2,2)
sns.countplot(train.embarked, hue=train.survived)

In [11]:
train.embarked.fillna('S', inplace=True)

In [12]:
train = pd.get_dummies(train, columns=["embarked"])
test = pd.get_dummies(test, columns=["embarked"])

In [13]:
# CABIN
train = train.drop(['cabin'], axis=1)
test = test.drop(['cabin'], axis=1)

In [ ]:
train.head(15)

In [ ]:
test.head(15)

In [ ]:
train.isnull().sum()

In [ ]:
test.isnull().sum()

In [ ]:
# from sklearn.preprocessing import StandardScaler
# sc = StandardScaler()
# train2 = sc.fit_transform(train)
# test2 = sc.fit_transform(test)

In [ ]:
# train2.shape, test2.shape

In [14]:
x_train = train.drop("survived", axis=1)
y_train = train["survived"]
x_test = test
x_train.shape, y_train.shape, x_test.shape

((891, 31), (891,), (418, 31))

In [ ]:
x_train.title.fillna(0.0, inplace=True)
# x_train.title.isnull().sum()

In [ ]:
x_train.isnull().sum()

In [ ]:
x_test.isnull().sum()

In [ ]:
x_test

In [ ]:
import xgboost as xgb
from sklearn import svm, metrics
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.model_selection import KFold, cross_val_score
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier, ExtraTreesClassifier

KFold_Score = pd.DataFrame()
classifiers = ['Linear SVM', 'Radial SVM', 'LogisticRegression', 
               'RandomForestClassifier', 'AdaBoostClassifier', 
               'XGBoostClassifier', 'KNeighborsClassifier','GradientBoostingClassifier', 'ExtraTreesClassifier']
models = [svm.SVC(kernel='linear'),
          svm.SVC(kernel='rbf'),
          LogisticRegression(max_iter = 1000),
          RandomForestClassifier(n_estimators=200, random_state=0),
          AdaBoostClassifier(random_state = 0),
          xgb.XGBClassifier(n_estimators=100),
          KNeighborsClassifier(),
          GradientBoostingClassifier(random_state=0),
          ExtraTreesClassifier()
         ]
j = 0
for i in models:
    model = i
    cv = KFold(n_splits=5, random_state=0, shuffle=True)
    KFold_Score[classifiers[j]] = (cross_val_score(model, x_train, np.ravel(y_train), scoring = 'accuracy', cv=cv))
    j = j+1

In [ ]:
mean = pd.DataFrame(KFold_Score.mean(), index= classifiers)
KFold_Score = pd.concat([KFold_Score,mean.T])
KFold_Score.index=['Fold 1','Fold 2','Fold 3','Fold 4','Fold 5','Mean']
KFold_Score.T.sort_values(by=['Mean'], ascending = False)

In [15]:
from sklearn.ensemble import  ExtraTreesClassifier

ex = ExtraTreesClassifier()
ex.fit(x_train, y_train)
y_pred = ex.predict(x_test)
ex.score(x_train, y_train)
score = round(ex.score(x_train, y_train) * 100, 2)
print('Extremely Randomized Trees', score)

Extremely Randomized Trees 98.43

In [17]:
x_test.index

Int64Index([ 892,  893,  894,  895,  896,  897,  898,  899,  900,  901,
            ...
            1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309],
           dtype='int64', name='PassengerId', length=418)

In [18]:
submission = {'PassenderId': x_test.index.values, 'Survived': y_pred}
final_submissions = pd.DataFrame(submission)
final_submissions.head()

    Id  Survived
0  892         0
1  893         0
2  894         0
3  895         1
4  896         0

In [21]:
final_submissions.to_csv('submission_titanic.csv', index=False)
final_submissions.head()

    Id  Survived
0  892         0
1  893         0
2  894         0
3  895         1
4  896         0